html {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Navigation Bar Styles  */
 nav {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px seashell solid;
   height: 69px;
   align-items: center;
   position: fixed;
   top: 0;
   z-index: 2;
   width: 100%;
   background-color: black;
 }

nav img {
  height: 50px;
  margin-left: 10px;
}

nav a {
  color: seashell;
  margin-right: 25px;
}

/* Jumbotron Header Styles  */
.Jumbotron {
  background-image: url(./images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  background-repeat: no-repeat;
  background-size: stretch;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission {
  background-color: black;
  height: 120px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.mission h2,
  h4 {
  margin: 10px;
}

/* What's Brewing Flex Boxes */

.square img {
  max-height: 200px;
  max-width: 300px;
}

.flexsquares {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.square {
  margin: 20px 15px;
}

.tea-of-the-month {
  width: 1000px;
  margin: 60px 0px; 
}

/* Locations  */
.locations {
  background-image: url(./images/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-items-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.address {
  background-color: black;
  width: 300px;
  height: 280px;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.address p {
  margin: 18px;
  font-size: 20px;
}

.locations h2 {
  margin-top: 0;
  margin bottom: 15px;
}

/* Contact Info Styles  */
.contact {
  height: 200px;
}

footer {
  text-align: left;
  margin-left: 20px;
}
